<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NandedBank</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Logine</display-name>
    <servlet-name>Logine</servlet-name>
    <servlet-class>com.rcpit.data.Logine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logine</servlet-name>
    <url-pattern>/Logine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccount</display-name>
    <servlet-name>CreateAccount</servlet-name>
    <servlet-class>com.rcpit.data.CreateAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccount</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deposite</display-name>
    <servlet-name>Deposite</servlet-name>
    <servlet-class>com.rcpit.data.Deposite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deposite</servlet-name>
    <url-pattern>/Deposite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Withdraw</display-name>
    <servlet-name>Withdraw</servlet-name>
    <servlet-class>com.rcpit.data.Withdraw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Withdraw</servlet-name>
    <url-pattern>/Withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transaction</display-name>
    <servlet-name>Transaction</servlet-name>
    <servlet-class>com.rcpit.data.Transaction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transaction</servlet-name>
    <url-pattern>/Transaction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Transfer</display-name>
    <servlet-name>Transfer</servlet-name>
    <servlet-class>com.rcpit.data.Transfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Transfer</servlet-name>
    <url-pattern>/Transfer</url-pattern>
  </servlet-mapping>
</web-app>